<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <h1 class="text-center">Recommended Blogs For You</h1>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
      All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component v-for="blog in blogs" :key="`blog${blog.id}`" :blog="blog"></blog-item-component>
    </v-layout>
    <!-- <br>
    <h3>Ini cuma buat Mainan aja</h3>
    <v-btn color="success" @click="increment(10)">Add by 10</v-btn>
    <h3>Counter: {{ tambah }}</h3> -->
  </v-container>
</template>

<script>
  import BlogItemComponent from '../components/BlogItemComponent.vue';
  import { mapGetters, mapMutations } from 'vuex'
  export default {
    data: ()=>({
      apiDomain : 'https://demo-api-vue.sanbercloud.com',
      blogs : []
    }),

    components:{
      'blog-item-component' : BlogItemComponent
    },

    computed: {
      ...mapGetters({
      // map `this.doneCount` to `this.$store.getters.doneTodosCount`
        'tambah': 'counter/count'
      }),
      // count(){
      //   return this.$store.getters.count
      // }
    },

    methods: {
      go(){
        const config = {
          method: 'get',
          url : this.apiDomain + '/api/v2/blog/random/4'
        }

        this.axios(config)
          .then((response) => {
            let {blogs} = response.data
            this.blogs = blogs
          }).catch((error) => {
            console.log(error)
          });
      },
      // increment(playload){
      //   this.$store.commit('increment', playload)
      // }
      ...mapMutations({
        'increment' : 'counter/increment'
      })
    },
    created() {
      this.go()
      // const api = 'http://demo-api-vue.sanbercloud.com/api/v2/blog/random/3'

      // this.axios.get(api).then((response) => {console.log(response.data)})
    }
  }

</script>

